
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
header{
  background-image: url(../images/Hero-bg.png);
  background-size: auto;
  padding-bottom: 100px;

}
h3{
  font-size: 34px;
  font-weight:bold;
  color: #4E47FF;

}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 150px;  
}
nav ul li{
  list-style: none;
}
button{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 18px 36px;
    border-radius: 10px;
    border: none;
}

.banner-title{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 20px;    
}
.banner-contain{
    margin: 309px 268px 152px 268px;
    text-align: center; 
    align-items: center;   
}
.see-it{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.explore{
    font-size: 24px;
    color: #252432;
}
.pic{
    width: 403px;
    border-radius: 48px;
}
.action{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 116px 141px 116px 159px;
}
.action-contain{
    width: 517px;
}















