
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
header{
  background-image: url(../images/Hero-bg.png);
  background-size: auto;
  padding-bottom: 100px;

}
h3{
  font-size: 34px;
  font-weight:bold;
  color: #4E47FF;

}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 150px;  
}
nav ul li{
  list-style: none;
}
button{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 18px 36px;
    border-radius: 10px;
    border: none;
}

.banner-title{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 20px;    
}
.banner-contain{
    margin: 309px 268px 152px 268px;
    text-align: center; 
    align-items: center;   
}
.see-it{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.explore{
    font-size: 24px;
    color: #252432;
}
.pic{
    width: 403px;
    border-radius: 48px;
}
.action{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 116px 141px 116px 159px;
}
.action-contain{
    width: 517px;
}
.joined{
    background-color: #e9ecff;
    border-radius: 20px;
    text-align: center;
    padding: 80px 50px;
    max-width: 1140px;
    /* width: 1140px; */
    /* justify-content: center; */
    /* align-items: center; */
    margin: 116px 141px 137px 160px;
}
.joined h2{
    color: #252432;
    font-size: 38px;
    font-weight: bold;
    margin: 50px 142px 211px 142px;
    margin-bottom: 30px;
}
.join-container{
    display: flex;
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    margin: 50px 142px 50px 142px;    
    /* text-align: center; */
}
.join-box{
    /* margin-block: 150px; */
    /* margin: 135px 142px 50px 142px; */
    flex: auto;
}
.join-number{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.join-label{
    font-size: 20px;
    color: #6b7280;
    margin-bottom: 6px;
}
.main{
  margin-top: 137px;
  margin-bottom: 137px;
  margin-right: 149px;
  margin-left: 151px;
}
.review h3{
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: #1E1E1E;
  margin-bottom: 40px;
}
.review-container{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;

}
.review1{
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  gap: 20px;
  padding: 24px;
  background-color: #fff;
  width: 280px;

}
.reviewer{
  display: flex;
  gap: 24px;
}
.reviewer img{
  border-radius: 50px;
  width: 40px;
  height: 40px;
}
.review-title{
  color: #1E1E1E;
}
.review-description{
  color: #1E1E1E;
}
.reviewer strong{
  font-size: 14px;
  color: #757575;
}
.reviewer small{
  font-size: 12px;
  color: #B3B3B3;
}
.focus-section{
  text-align: center;
  /* max-width: 1140px; */
  background-color: #FFFFFF;
  margin: 137px 151px 92px 149px;
}
.focus-section h1{
  font-size: 50px;
  font-weight: bold;
  /* margin-bottom: 20px; */
  /* margin-top: 71px; */
  /* margin-left: 312px; */
  /* margin-right: 312px; */
  margin: 71px 312px 20px 312px;
}
.focus-section p{
  margin: 20px 326px;
  color: rgba(0, 0, 0, 0.5);
  text-shadow:black;
}
.focus-section button{
  margin: 20px 472px;
}
.image2{
  border-radius: 48px;
  margin: 20px 150px 71px 150px;
}















